<h1>{{brandName}}</h1>

<h2>My week progress</h2>

<!-- todo akicha: add a UI framework (Tailwind|Angular Material) -->
<!-- todo akicha: save progress to local storage on change -->

<app-motivational-quotes></app-motivational-quotes>

<form [formGroup]="weekProgressForm">
  <ul>
    <li *ngFor="let muscleGroup of muscleGroups">
      <label>
        <input type="checkbox" [formControlName]="muscleGroup">
        {{muscleGroup}}
      </label>
    </li>
  </ul>
</form>

<button (click)="resetWeekProgress()">Reset Progress</button>
